@model IEnumerable<TasksApp.Models.Logs>


<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<link href="~/plugins/fontawesome-free/css/all.css" rel="stylesheet" />
<link href="~/css/DataTable/datatables.min.css" rel="stylesheet" />
<style>
    tr {
        outline: thin solid black;
    }
    td {
        outline: thin solid black;
    }
</style>

<center><h1>System Logs</h1></center>

<div class="card-body">
    <div class="card-body" style="background-color:white;">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <table class="table table-bordered table-hover" id="tbl" style=" word-wrap:break-word; width:100%; table-layout:fixed">
                    <thead class="thead-dark">
                        <tr class="table-info">

                            <th>Username</th>
                            <th>Email</th>
                            <th>Organization</th>
                            <th>Log Type</th>
                            <th>Affected Table</th>
                            <th>Old Data</th>
                            <th>New Data</th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserEmail)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Entity)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.LogType)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedTable)
                                </td>

                                <td>
                                    <div style="word-wrap:break-word;">@Html.DisplayFor(ModelItem => item.OldData) </div>
                                </td>

                                <td>
                                    <div style="word-wrap:break-word;">@Html.DisplayFor(ModelItem => item.NewData) </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/js/DataTable/datatables.min.js"></script>

<script>

    $(document).ready(function () {

        $("#tbl").DataTable();
    })

</script>

